*.class
*.class
*.jar
*.lst
*.json
*.classpath
*.project
*.jsdtscope
*.prefs
*.component
taotao-portal/.settings/org.eclipse.wst.common.project.facet.core.xml
*.container
*.name
*.2017-10-23
taotao-rest/.settings/org.eclipse.wst.common.project.facet.core.xml
*.MF
access_log.*
*/.settings/*
*/target/*